@import 'root.scss';

.about {
  background: url('../images/main/about.jpg') center no-repeat;
  background-size: cover;
}

.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0 130px;
}

.left-side, .right-side {
  max-width: 523px;
  z-index: 99;
}

.left-side {
  text-align: right;
}

.about__description {
  text-align: right;
}

.about__btn, .button--history {
  width: 141px;
}

.description--right {
  text-align: left;
}

.about__knife {
  padding: 0 96px 0 74px;
  position: relative;
  z-index: 98;
  &::before {
    content: '';
    position: absolute;
    width: 391px;
    height: 415px;
    background: url('../images/icons/G.svg') center no-repeat;
    left: -77px;
    top: 140px;
    right: 0;
  }
  & img {
    position: relative;
    z-index: 98;
  }
}

.about__title {
  padding: 0 0 32px 0;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 6px;
    background: url('../images/icons/lofel.svg') center no-repeat;
    transform: rotate(180deg);
    right: 0;
    left: auto;
    top: 85px;
  }
}

.about__title--right {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 6px;
    background: url('../images/icons/lofel.svg') center no-repeat;
    transform: rotate(0deg);
    right: auto;
    left: 0;
  }
}

