@import 'root.scss';

.blog {
  padding-bottom: 152px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: auto;
    bottom: 128px;
    right: 190px;
    width: 146px;
    height: 146px;
    background: url('../images/icons/seal.svg') top no-repeat;
    background-size: cover;
    @include desctop-xs {
      bottom: 0;
    }
  }
}

.blog__title {
  text-align: center;
  padding: 152px 0 64px;
}

.blog__subtitle {
  &::before {
    content: '';
    width: 100%;
    left: 0;
    right: 0;
    margin:  0 auto;
  }
}

.blog__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $line;
  padding: 24px 0 32px;
}

.blog__header {
  color: $accent;
  font-size: 32px;
  font-family: 'Cormorant Upright', serif;
  line-height: 130%;
  padding: 0 0 32px;
  @include desctop-xs {
    font-size: 27px;
  }
}

.blog__text {
  font-family: 'Open Sans', sans-serif;
  color: $description;
  font-size: 16px;
  line-height: 175%;
  padding: 0 0 32px;
}

.blog__more {
  font-family: 'Cormorant Upright', serif;
  color: $accent;
  font-size: 16px;
  line-height: 175%;
}

.blog__tips,
.blog__cocktails,
.blog__cooking {
  width: 412px;
  @include desctop-xs {
    width: 312px;
    img {
      width: 312px;
      height: 338px;
    }
  }
}
  
.blog__items {
  display: flex;
  justify-content: center;
  gap: 37px;
  @include pad {
    flex-wrap: wrap;
  }
}

.blog__more-btn {
  padding-top: 64px;
  display: flex;
  justify-content: center;
}