@import 'root.scss';

.customers {
  position: relative;
  padding-bottom: 152px;
  &::after {
    content: '';
    position: absolute;
    top: -45px;
    left: auto;
    right: 300px;
    width: 146px;
    height: 146px;
    background: url('../images/icons/seal.svg') top no-repeat;
    background-size: cover;
  }
  background: $page-color;
}

.customers__title {
  text-align: center;
  padding: 152px 0 64px;
}

.customers__subtitle {
  &::before {
    content: '';
    width: 100%;
    left: 0;
    right: 0;
    margin:  0 auto;
  }
}

.customers__container {
  display:  flex;
  flex-wrap: wrap;
  justify-content: center;
}

.customer {
  display: flex;
  align-items: center;
  max-width: 600px;
}

.customer:nth-child(1),
.customer:nth-child(2) {
  margin-bottom: 84px;
  @include desctop-xs {
    margin-left: 0;
   }
}

@include desctop-xs {
  .customer:nth-child(3),
  .customer:nth-child(4),{
    margin-bottom: 84px;
 }
}

.customer:nth-child(2n) {
  margin-left: 32px;
  @include desctop-xs {
   margin-left: 0;
  }
}



.customer__pic {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 47px;
    height: 40px;
    background: url('../images/icons/quote.svg') no-repeat;
    bottom: -20px;
    left: auto;
    right: -17px;
  }
}

.customer__description {
  padding: 0 0 0 32px;
}

.customer__text {
  color: $description;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  line-height: 175%;
}

.customer__info {
  padding: 16px 0 0 0;
  .info__name {
    font-family: 'Cormorant Upright', serif;
    color: $accent;
    font-size: 32px;
    line-height: 130%;
  }

  .info__job {
    font-family: 'Open Sans', sans-serif;
    color: $accent-light;
    font-size: 16px;
    padding: 4px 0 0 0;
  }
}
