@import 'root.scss';

footer {
  background: url('../images/main/footer_bg.jpg') no-repeat;
  background-size: cover;
  margin-top: 300px;
}

.newsletter {
  margin-top: 113px;
}

.newsletter__block {
  border: 1px solid $border;
  position: relative;
  top: -182px;
  box-shadow: 22px 30px 95px 1px $box-shadow;
  background: $block;
  &::before {
    content: "";
    position: absolute;
    top: -177px;
    left: -223px;
    right: auto;
    width: 146px;
    height: 146px;
    background: url('../images/icons/seal.svg') top no-repeat;
    background-size: cover;
    @include desctop-xs {
      left: 0;
    }
  }
}

.newsletter__title {
  padding-top: 64px;
  text-align: center;
}

.newsletter__subtitle {
  &::before {
    content: '';
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}

.newsletter__body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 64px;
}

.newsletter__description {
  color: $title;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 64px;
}

.newsletter__mail {
  border: 1px solid $accent-light;
  background: $optional;
  padding: 16px 18px;
  width: 796px;
  margin-right: 32px;
  color: $description;
  @include desctop-xs {
    width: 450px;
  }
  &::placeholder {
    font-family: 'Cormorant Upright', serif;
    font-size: 16px;
    line-height: 175%;
  }
}

.newsletter__btn {
  cursor: pointer;
  border: none;
  font-size: 16px;
}

.footer__page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  @include pad-md {
    flex-wrap: wrap;
    gap: 30px;
  }
}

.contact {
  @include pad-md {
    order: 2;
  }
}

.contact__title {
  font-size: 32px;
  font-family: 'Cormorant Upright', serif;
  color: $accent-light;
  text-align: center;
  padding-bottom: 24px;
}

.contact__adress {
  text-align: center;
  color: $description;
  font-size: 16px;
  font-family: 'Open Sans';
  padding-bottom: 8px;
  line-height: 175%;
}

.project {
  width: 438px;
  text-align: center;
  padding: 0 228px 0 126px;
  @include desctop-xs {
    padding: 0px 134px 0 66px;
  }
  @include pad-md {
    padding: 0;
    order: 1;
  }
}

.project__name {
  font-size: 64px;
  color: $accent;
  font-family: 'Cormorant Upright', serif;
  text-transform: uppercase;
  padding-bottom: 32px;
}

.project__description {
  text-align: center;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
  color: $title;
  padding-bottom: 41px;
  position: relative;
  line-height: 175%;
  &::before {
    content: '';
    background: url('../images/icons/lofel.svg') no-repeat;
    background-size: cover;
    width: 40px;
    height: 9px;
    position: absolute;
    top: 65px;
    right: auto;
    left: 47%;
    margin: 0 auto;
  }
}

.poject__social a:nth-child(2) {
  margin: 0 16px;
}

.working {
  text-align: center;
  @include pad-md {
    order: 3;
  }
}

.working__name {
  font-family: 'Cormorant Upright', serif;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 1.28px;
  color: $accent-light;
  padding-bottom: 24px;
}

.working__hourse {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
  color: $description;
  padding-bottom: 8px;
}

.footer__copyright {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  color: $description;
  text-align: center;
  padding-bottom: 144px;
}