@import 'root.scss';

.reservations {
  background: $page-color;
}

.reservations__container {
  width: 1366px;
  margin:  157px auto;
  border: 1px solid $accent-20;
  background: $page-color;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: -186px;
    left: auto;
    right: -125px;
    width: 146px;
    height: 146px;
    background: url('../images/icons/seal.svg') top no-repeat;
    background-size: cover;
  }
}

.reservations__subtitle {
  &::before {
    content: '';
    width: 100%;
    left: 0;
    right: 0;
    margin:  0 auto;
  }
}

.reservations__form {
  padding: 48px 0;
  text-align: center;
}

.reservations__select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 64px 0;
}

.reservations_button {
  border: none;
	display: block;
  cursor: pointer;
}

// codepen

.select {
  position: relative;
	padding: 0px 16px;
  margin: 0 auto;
	&[data-state="active"] {
    .select__title {
      &::before {
        transform: translate(-3px, -50%) rotate(-45deg);
      }
      &::after {
        transform: translate(3px, -50%) rotate(45deg);
      }
    }
    
    .select__content {
      opacity: 1;
    }
    
    .select__label + .select__input + .select__label {
      max-height: 40px;
      border-top-width: 1px;
    }
  }
}

.select__data {
  position: relative;
  padding: 0px 16px;
  margin: 0 auto;
  &[data-calender="active"] {
    .select__data--title {
      &::before {
        transform: translate(-3px, -50%) rotate(-45deg);
      }
      &::after {
        transform: translate(3px, -50%) rotate(45deg);
      }
    }
    
    .select__content--data {
      opacity: 1;
    }
    
    .select__label--data + .select__input + .select__label--data {
      max-height: 40px;
      border-top-width: 1px;
    }
  }
}

.select__time {
  position: relative;
  padding: 0px 16px;
  margin: 0 auto;
  &[data-time="active"] {
    .select__time--title {
      &::before {
        transform: translate(-3px, -50%) rotate(-45deg);
      }
      &::after {
        transform: translate(3px, -50%) rotate(45deg);
      }
    }
    
    .select__content--time {
      opacity: 1;
    }
    
    .select__label--time + .select__input + .select__label--time {
      max-height: 40px;
      border-top-width: 1px;
    }
  }
}


.select__title,
.select__data--title,
.select__time--title {
  display: flex;
  align-items: center;
	width: 378px;
  height: 100%;
	color: $description;
	font-family: 'Cormorant Upright';
	font-size: 16px;
  border: solid 1px $description;
	padding: 16px 16px;
  cursor: pointer;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 35px;
    display: block;
    width: 10px;
    height: 2px;
    transition: all 0.3s ease-out;
    background-color: $description;
    transform: translate(-3px, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(3px, -50%) rotate(-45deg);
  }
  &:hover {
    border-color: $description;
    &::before,
    &::after {
      background-color: $accent;
    }
  }
}

.select__content,
.select__content--data,
.select__content--time {
  position: absolute;
  top: 49px;
  left: 16px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 34px);
  background-color: $page-color;
  border: 1px solid $description;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
}

.select__input {
  display: none;

  &:checked + label {
    background-color: $page-color;
		font-family: 'Cormorant Upright';
		font-size: 16px;
		font-weight: 600;
		color: $accent;
  }
  &:disabled + label {
    opacity: 0.6;
    pointer-events: none;
  }
}

.select__label,
.select__label--data,
.select__label--time {
  display: flex;
  align-items: center;
	font-size: 16px;
	font-family: 'Cormorant Upright';
	font-weight: 600;
  width: 378px;
  height: 40px;
  max-height: 0;
  padding: 0 16px;
	color: $description;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
  & + input + & {
    border-top: 0 solid #C7CCD160;
  }
  &:hover {
    background-color: $page-color !important;
    color: $accent;
  }
}
