// root colors

$page-color: #0C0B08;
$title: #ffffff;
$accent: #DCCA87;
$accent-20: #DCCA8720;
$description: #AAAAAA;
$line: #FAFAFA;
$accent-light: #F5EFDB;
$job: #F5EFDB;
$block: #0c0c0c;
$optional: #0c0c0c69;
$optiona2: #0c0c0c17;
$black-overlay: rgba(4, 4, 4, 0.5);
$border: rgba(220, 202, 135, 0.20);
$box-shadow: rgba(0, 0, 0, 0.70);

// global grid

$lg: 1520px;
$md: 1300px;
$sm: 920px;
$sm-small: 720px;
$xs: 526px;
$s: 360px;

// global font-size

$text-m: 16px;
$text-l: 23px;
$text-b: 50px;

// global breckpoints

@mixin phone-xs {
  @media (max-width: 420px) { @content; }
}
@mixin phone-md {
  @media (max-width: 480px) { @content; }
}

@mixin pad-xs {
  @media (max-width: 780px) { @content; }
}
@mixin pad-md {
  @media (max-width: 980px) { @content; }
}
@mixin pad-lg {
  @media (max-width: 1170px) { @content; }
}

@mixin desctop-xs {
  @media (max-width: 1366px) { @content; }
}
@mixin desctop-md {
  @media (max-width: 1680px) { @content; }
}

// global mixins

.wrapper {
  max-width: $lg;
  padding: 0 20px;
  margin: 0 auto;
  @include desctop-md {
    max-width: $md;
  }
  @include desctop-xs {
    max-width: $sm;
  }
  @include pad-lg {
    max-width: $sm-small;
  }
  @include pad-md {
    max-width: $xs;
  }
  @include phone-md {
    width: $s;
  }
  @include phone-xs {
    width: 290px;
  }
}