// root colors

$page-color: #0C0B08;
$title: #ffffff;
$accent: #DCCA87;
$accent-20: #DCCA8720;
$description: #AAAAAA;
$line: #FAFAFA;
$accent-light: #F5EFDB;
$job: #F5EFDB;
$block: #0c0c0c;
$optional: #0c0c0c69;
$optiona2: #0c0c0c17;
$black-overlay: rgba(4, 4, 4, 0.5);
$border: rgba(220, 202, 135, 0.20);
$box-shadow: rgba(0, 0, 0, 0.70);

// global grid

$lg: 1680px;
$md: 1300px;
$sm: 960px;
$xs: 480px;

// global font-size

$text-m: 16px;
$text-l: 23px;

// global styles

.wrapper {
  max-width: $md;
  padding: 0 20px;
  margin: 0 auto;
}