@import 'root.scss';

.component-slider {
  position: relative;
  top: 130px;
}


.component-slider {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    background: url("../images/icons/scroll.svg") no-repeat;
    background-size: cover;
    width: 61px;
    height: 113px;
    bottom: 30px;
    right: 140px;
    left: auto;
  }
}

.slide__box {
  display: flex;
  justify-content: center;
  gap: 160px;
  align-items: center;
<<<<<<< HEAD
  padding: 48px 0 100px 0;
=======
  padding: 48px 0 162px 0;
  @include pad-md {
    gap: 70px;
  }
>>>>>>> d4603be233604210eac6ec3f06f73c08bc92098e
  & .slide__content {
    max-width: 453px;
    @include desctop-xs {
      max-width: $xs;
    }
    @include pad-md {
     max-width: $s;
    }
  }
}

.subtitle {
  display: block;
  font-family: 'Cormorant Upright';
  font-size: $text-l;
  color: $title;
  position: relative;
  padding: 0 0 25px 0;
  font-size: 23px;
  font-weight: 700;
  &::before {
    content: '';
    position: absolute;
    top: 33px;
    width: 40px;
    height: 9px;
    background: url(../images/icons/lofel.svg) center no-repeat;
  }
}

.slide__title {
  font-family: 'Cormorant Upright';
  font-weight: 700;
  font-size: 90px;
  color: $accent;
  line-height: 130%;
  letter-spacing: 0.04em;
  padding: 0 0 32px 0;
  @media (max-width:1400px) {
    font-size: 60px;
  }
}

.slide__description {
  font-family: 'Open Sans';
  color: $description;
  letter-spacing: 0.04em;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  padding: 0 0 32px 0;
  @media (max-width:1400px) {
    font-size: 13px;
  }
}

.slide__button {
  font-family: 'Cormorant Upright';
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  display: inline-block;
  padding: 8px 0;
  width: 157px;
  text-align: center;
  background: $accent;
  color: $page-color;
}

.slide__img {
  position: relative;
  img {
    position: relative;
    @include desctop-xs {
      width: 416px;
      height: 488px;
    }
  }
  &::before {
   content: '';
   position: absolute;
   width: 435px;
   height: 435px;
   top: -22px;
   right: -22px;
   left: auto;
   background: $accent; 
   @media (max-width:$md) {
    width: 335px;
    height: 335px;
   }
  }
  &::after {
    content: '';
    position: absolute;
    width: 435px;
    height: 435px;
    bottom: -22px;
    right: auto;
    left: -22px;
    background: $accent;
    z-index: -1;
    @media (max-width:$md) {
      width: 335px;
      height: 335px;
     }
   }
}

/* Add numbers to pagination buttons by CSS */
.splide__pagination {
  counter-reset: pagination-num;
}

.splide__pagination__page {
  background: none;
}

.splide__pagination__page:before {
  font-family: 'Cormorant Upright';
  content: '';
  font-size: 26px;
  background: none;
  border-radius: 0;
}

.splide__pagination__page.is-active {
  background: none;
}

.dinner-pagination {
  font-family: 'Cormorant Upright';
  display: flex;
  align-items: center;
}

.dinner-page {
  opacity: 1;
  width: 10px;
  height: 28px;
  text-align: center;
  padding: 0 10px;
  margin: 0 8px;
  background: none;
  color: $job;
  display: flex;
  align-items: center;
  font-size: 26px;
  font-family: 'Cormorant Upright';
}

.dinner-page.is-active {
  color: $title;
  font-family: 'Cormorant Upright';
  font-size: 26px;
  background: none;
  display: flex;
  align-items: center;
  width: 40px;
  height: 28px;
  text-align: center;
  margin: 0 8px;
  padding: 0 8px;
  transform: scale(1.4);
  position: relative;

}

.dinner-page.is-active::after  {
  content: '';
  color: $accent;
  position: absolute;
  background: $accent;
  height: 2px;
  width: 16px;
  top: 15px;
  left: 28px; 
  :last-of-type {
    visibility: hidden;
  }
}

