<section class="component-ourBlog">
  <div class="ourblog">
    <div class="wrapper">
      <div class="ourblog__container">
        <div class="title ourblog__title">Our Blogs</div>
        <div class="ourblog__description">
          <a class="ourblog__link" href="index.html" >Home</a>
          <span class="ourblog__page">Our Blogs- With sidebar</span>
        </div>
      </div>
    </div>
  </div>
  <div class="categories">
    <div class="wrapper">
      <div class="categories__items">
        <div class="categories__list">
          <div class="categories__item">
            <img class="categories__img" src="assets/images/blog/tips@2x.jpg" width="412" height="430" alt="tips for prepping and caring for your grill">
            <div class="item-data">
              <span>16 Apr 2021</span>
              <span>- Annalisa L</span>
            </div>
            <div class="categories__name">tips for prepping and caring for your grill</div>
            <div class="categories__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis elit elit scelerisque egestas mus in.</div>
            <a class="categories__description-btn" href="#"> - Read More</a>
          </div>
          <div class="categories__item">
            <img class="categories__img" src="assets/images/blog/juce@2x.jpg" width="412" height="430" alt="tips for prepping and caring for your grill">
            <div class="item-data">
              <span>23 May 2021</span>
              <span>-John Micheal</span>
            </div>
            <div class="categories__name">Summer cocktails and mocktails</div>
            <div class="categories__description">Lorem ipsum dolor sit amet, consectetur adipiscing&nbsp;elit. Volutpat mattis ipsum turpis elit elit scelerisque egestas mus in.</div>
            <a class="categories__description-btn" href="#">Read More</a>
          </div>
          <div class="categories__item">
            <img class="categories__img" src="assets/images/blog/look@2x.jpg" width="412" height="430" alt="tips for prepping and caring for your grill">
            <div class="item-data">
              <span>06 Mar 2020</span>
              <span>- Andrial M</span>
            </div>
            <div class="categories__name">How to make your food Photographs look aesthetic</div>
            <div class="categories__description">Lorem ipsum dolor sit amet, consectetur adipiscing&nbsp;elit. Volutpat mattis ipsum turpis elit elit scelerisque egestas mus in.</div>
            <a class="categories__description-btn" href="#">Read More</a>
          </div>
          <div class="categories__item">
            <img class="categories__img" src="assets/images/blog/teamwork@2x.jpg" width="412" height="430" alt="tips for prepping and caring for your grill">
            <div class="item-data">
              <span>06 Mar 2020</span>
              <span>- Andrial M</span>
            </div>
            <div class="categories__name">Co-ordination & Teamwork Tips from a sous chef</div>
            <div class="categories__description">Lorem ipsum dolor sit amet, consectetur adipiscing&nbsp;elit. Volutpat mattis ipsum turpis elit elit scelerisque egestas mus in.</div>
            <a class="categories__description-btn" href="#">Read More</a>
          </div>
          <div class="button categories__more">View More</div>   
        </div>  
                                                                                                  
        <aside class="categories__menu">
          <div class="categories__seach">
            <fieldset>
              <label class="categories__seach-label" for="seach">Search Page</label>
              <input class="categories__seach-input" type="text" placeholder="Example">
            </fieldset>
          </div>
          <div class="categories__themes">
            <p class="themes">All Categories</p>
            <div class="themes-item">
              <span class="themes-name">Photography</span>
              <div class="themes-side">
                <img class="themes-img" src="assets/images/blog/line@2x.png" alt="line" width="159" height="1">
                <span>(1)</span>
              </div>
            </div>
            <div class="themes-item">
              <span class="themes-name">Baking</span>
              <div class="themes-side">
                <img class="themes-img" src="assets/images/blog/line@2x.png" alt="line" width="159" height="1">
                <span>(2)</span>
              </div>
            </div>
            <div class="themes-item">
              <span class="themes-name">Cooking Tips</span>
              <div class="themes-side">
                <img class="themes-img" src="assets/images/blog/line@2x.png" alt="line" width="159" height="1">
                <span>(6)</span>
              </div>
            </div>
          </div>
          <div class="categories__post">
            <div class="categories__post-name">Our Latest Posts</div>
            <img src="assets/images/blog/juce@2x.jpg" width="311" height="308" alt="post">
            <div class="item-data">
              <span>23 May 2021</span>
              <span>-John Micheal</span>
            </div>
            <div class="categories__name">Summer cocktails and mocktails</div>
            <div class="categories__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis elit....</div>
            <a class="categories__description-btn" href="#">Read More</a>
          </div>
          <div class="categories__tags">
            <div class="categories__tags-name">Related Tags</div>
            <ul class="categories__tags-list">
              <li class="categories__list-item">Grilling</li>
              <li class="categories__list-item">Cooking</li>
              <li class="categories__list-item">Baking</li>
            </ul>
            <ul class="categories__tags-list">
              <li class="categories__list-item">Cuisines</li>
              <li class="categories__list-item">Chef</li>
              <li class="categories__list-item">Alcohol Mixing</li>
            </ul>
          </div>
          <div class="categories__schare">
            <div class="categories__schare-name">Share</div>
            <ul class="categories__social">
              <li class="categories__social-item"><a href="#"><svg width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
              <li class="categories__social-item"><a href="#"><svg width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
              <li class="categories__social-item"><a href="#"><svg width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>



