@import '../root.scss';

.ourblog {
  background: url('../images/blog/header@2x.jpg') no-repeat;
  background-size: cover;
  height: 619px;
  margin-bottom: 152px;
  @include pad-xs {
    height: 555px;
  }
}

.ourblog__container {
  text-align: center;
  padding-top: 250px;
  & .ourblog__title {
    font-size: 90px;
    padding-bottom: 14px;
    line-height: 130%;
    @include phone-xs {
      font-size: 65px;
    }
  }
}

.ourblog__link,
.ourblog__page {
  color: $title;
  font-family: 'Cormorant Upright', serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 130%
}

.ourblog__link {
  padding-right: 40px;
  position: relative;
  &::before {
    content: '';
    background: url('/assets/images/icons/left-b.svg') center no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 63px;
  }
}

.categories__items,
.categories__list {
  display: flex;
  justify-content: space-between;
  @include pad-xs {
    justify-content: center;
  }
}

.categories__items {
  @include phone-lg {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.categories__list {
  column-gap: 32px;
  width: 856px;
  @include pad-md {
    width: 350px;
  }
  @include phone-lg {
    width: 330px;
  }
}

.categories__item {
  width: 412px;
  margin-bottom: 20px;
  &:nth-child(4) {
    @include pad-md {
      display: none;
    }
    @include phone-lg {
      display: block;
    }
  }
  &:nth-child(3) {
    @include pad-xs {
      margin-bottom: 50px;
    }
  }
  @include pad-lg {
    width: 300px;
  }
  @include pad-xs {
    width: 300px;
  }
  @include phone-lg {
    width: 330px;
  }
}


.categories__list {
  flex-wrap: wrap;
  @include phone-lg {
    margin-bottom: 50px;
  }
}

.item-data {
  font-family: 'Open Sans', sans-serif;
  color: $title;
  font-size: 16px;
  line-height: 175%;
  display: flex;
  justify-content: space-between;
  @include pad-xs {
    font-size: 14px;
  }
}

.categories__name {
  font-family: 'Cormorant Upright', serif;
  color: $accent;
  font-size: 32px;
  letter-spacing: 1.28px;
  margin: 32px 0;
  @include pad-xs {
    font-size: 26px;
  }
}

.categories__img {
  margin-bottom: 24px;
  @include pad-lg {
    width: 100%;
    height: auto;
  }
}

.categories__description {
  color: $description;
  font-size: 16px;
  line-height: 175%;
  margin-bottom: 32px;
  @include pad-xs {
    font-size: 14px;
  }
}

.categories__description-btn {
  font-family: 'Cormorant Upright', serif;
  color: $accent;
  font-size: 16px;
  line-height: 175%;
  display: inline-block;
}

.categories__menu {
  width: 375px;
  @include pad-md {
    width: 335px;
  }
  @include pad-xs {
    width: 300px;
  }
  @include phone-lg {
    width: 330px;
  }
  .categories__seach {
    background: $input;
    padding: 32px;
  }
}

.categories__themes,
.categories__post,
.categories__tags,
.categories__schare {
  background: $input;
  padding: 32px;
  margin: 32px 0;
}

.categories__seach fieldset {
  display: flex;
  flex-direction: column;
}

.categories__seach-label {
  font-family: 'Cormorant Upright', serif;
  color: $accent;
  font-size: 32px;
  padding-bottom: 24px;
  position: relative;
  &::before {
    content: '';
    background: url('/assets/images/icons/search.svg') center no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    bottom: -16px;
    left: auto;
  }
}

.categories__seach-input {
  background: $input;
  border: none;
  border-bottom: 1px solid $description;
  font-weight: 400;
  line-height: 175%;
  width: 100%;
  padding-right: 45px;
  max-width: 270px;
  color: $description;
  &::placeholder {
    font-size: 16px;
    color: $description;
    font-family: 'Open Sans', sans-serif;
    line-height: 175%;
  }
  &:focus {
    outline: none;
    line-height: 175%;
    font-size: 16px;
  }
  @include pad-md {
    padding-right: 66px;
    max-width: 206px;
  }
  @include pad-xs {
    padding-right: 60px;
    max-width: 175px;
  }
  @include phone-lg {
    padding-right: 66px;
    max-width: 201px;
  }
  @include phone-xs {
    padding-right: 35px;
    max-width: 150px;
  }
}

.themes,
.categories__post-name,
.categories__tags-name,
.categories__schare-name {
  font-family: 'Cormorant Upright', serif;
  color: $accent;
  font-size: 32px;
  font-weight: 400;
  line-height: 130%;
  padding-bottom: 33px;
  @include pad-xs {
    font-size: 26px;
  }
}

.themes-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
  gap: 15px;
  span {
    font-family: 'Open Sans', sans-serif;
    color: $description;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
  }
}

.themes-item {
  :last-child {
    padding-bottom: 0;
  }
}

.themes-img {
  @include pad-md {
    width: 100%;
  }
  @include pad-xs {
    width: 70px;
  }
  @include phone-lg {
    width: 100%
  }
}

.themes-side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.categories__post {
  .item-data {
   padding: 32px 0;
  }
  .categories__name {
    margin: 0;
    margin-bottom: 32px;
    @include pad-xs {
      font-size: 26px;
    }
  }
  & img {
    @include pad-xs {
      width: 100%;
      height: auto;
    }
  }
}

.categories__tags {
  .categories__tags-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 16px;
    @include pad-xs {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.categories__tags-list:last-child {
  padding-bottom: 0;
}

.categories__list-item {
  color: $description;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.categories__list-item:nth-child(2) {
  padding: 0 32px;
  position: relative;
  @include pad-xs {
    padding: 20px 0;
  }
  &::before {
    content: '';
    background: url('/assets/images/blog/icons/line.svg') center no-repeat;
    position: absolute;
    width: 16px;
    height: 1px;
    top: 9px;
    left: 8px;
    right: auto;
    @include pad-xs {
      display: none;
    }
  }
  &::after {
    content: '';
    background: url('/assets/images/blog/icons/line.svg') center no-repeat;
    position: absolute;
    width: 16px;
    height: 1px;
    top: 9px;
    left: auto;
    right: 8px;
    @include pad-xs {
      display: none;
    }
  }
}

.categories__social {
  display: flex;
  justify-content: space-between;
  width: 104px;
  & .categories__social-item a svg {
    fill: $accent-light;
  }
  & .categories__social-item a svg:hover {
    fill: $accent;
    transition: .2s;
  }
}

.categories__more {
  margin: 0 auto;
  height: 27px;
  @include pad-xs {
    margin: 0;
  }
  @include phone-lg {
    margin: 0 auto
  }
}