<section class="component-about">
  <div class="about">
    <div class="wrapper">
      <div class="about__container">
        <div class="left-side">
          <h1 class="title about__title">About Us</h1>
          <p class="description about__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra adipiscing ultrices vulputate posuere tristique. In sed odio nec aliquet eu proin mauris et.</p>
          <a href="#" class="button about__btn">Know More</a>
        </div>
        <picture>
          <div class="about__knife">
            <img src="assets/images/main/knife.png" width="84" height="703" alt="knife">
          </div>
        </picture>
        <div class="right-side">
          <h1 class="title about__title about__title--right">Our History</h1>
          <p class="description description--right">Adipiscing tempus ullamcorper lobortis odio tellus arcu volutpat. Risus placerat morbi volutpat habitasse interdum mi aliquam In sed odio nec aliquet.</p>
          <a href="#" class="button button--history">Know More</a>
        </div>
      </div>
    </div>
  </div>
</section>