<section class="component-awards">
  <div class="awards">
    <div class="wrapper">
      <div class="awards__container">
        <div class="awards__info">
          <div class="awards__header">
            <p class="awards__name">Awards & recognition</p>
            <p class="awards__title">Our Laurels</p>
          </div>
          <div class="laurels">
            <ul class="laurels__list">
              <li class="laurels__list--item">
                <img src="assets/images/main/list/2.png" width="79" height="79" alt="2">
                <div class="laurels__info">
                  <div class="laurels__title">Bib Gourmond</div>
                  <div class="laurest__description">Lorem ipsum dolor sit amet, consectetur.</div>
                </div>
              </li>
              <li class="laurels__list--item">
                <img src="assets/images/main/list/1.png" width="79" height="79" alt="1">
                <div class="laurels__info">
                  <div class="laurels__title">Rising Star</div>
                  <div class="laurest__description">Lorem ipsum dolor sit amet, consectetur.</div>
                </div>
              </li>
              <li class="laurels__list--item">
                <img src="assets/images/main/list/3.png" width="79" height="79" alt="3">
                <div class="laurels__info">
                  <div class="laurels__title">AA Hospitality</div>
                  <div class="laurest__description">Lorem ipsum dolor sit amet, consectetur.</div>
                </div>
              </li>
              <li class="laurels__list--item">
                <img src="assets/images/main/list/5.png" width="79" height="79" alt="5">
                <div class="laurels__info">
                  <div class="laurels__title">Outstanding Chef</div>
                  <div class="laurest__description">Lorem ipsum dolor sit amet, consectetur.</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
  
        <picture>
          <img class="awards-img" src="assets/images/main/awards.png" width="555" height="651" alt="Awards & recognition">
        </picture>
      </div>

    </div>
  </div>
</section>