<section class="component-blog">
  <div class="blog">
    <div class="wrapper">
      <div class="blog__title">
        <div class="subtitle blog__subtitle">Blogs</div>
        <h1 class="title">Gerícht Updates</h1>
      </div>
      <div class="blog__container">
        <div class="blog__items">
          <div class="blog__tips">
            <picture>
              <img src="assets/images/main/meet.jpg" width="412" height="430" alt="tips for prepping">
            </picture>
            <div class="blog__data">
              <span class="blog__details">16 Apr 2021</span>
              <span class="blog__details">-Fred W</span>
            </div>
            <div class="blog__header">Tips for prepping and caring for your grill</div>
            <div class="blog__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis elit elit scelerisque egestas mus in.</div>
            <a class="blog__more" href="#">Read more</a>
          </div>
          <div class="blog__cocktails">
            <picture>
              <img src="assets/images/main/coctail.jpg" width="412" height="430" alt="summer cocktails">
            </picture>
            <div class="blog__data">
              <span class="blog__details">23 May 2021</span>
              <span class="blog__details">-John Micheal</span>
            </div>
            <div class="blog__header">Summer cocktails And<br>Mocktails</div>
            <div class="blog__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis elit elit scelerisque egestas mus in.</div>
            <a class="blog__more" href="#">Read more</a>
          </div>
          <div class="blog__cooking">
            <picture>
              <img src="assets/images/main/cucing.jpg" width="412" height="430" alt="easy cooking">
            </picture>
            <div class="blog__data">
              <span class="blog__details">06 Aug 2021</span>
              <span class="blog__details">- Annalisa L</span>
            </div>
            <div class="blog__header">Easy cooking For College<br>Students</div>
            <div class="blog__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis elit elit scelerisque egestas mus in.</div>
            <a class="blog__more" href="#">Read more</a>
          </div>
        </div>
        <div class="blog__more-btn">
          <a class="button" href="#">View More</a>
        </div>
      </div>
    </div>
  </div>
</section>