<section class="component-customers">
  <div class="customers">
    <div class="wrapper">
      <div class="customers__container">
        <div class="customers__title">
          <div class="subtitle customers__subtitle">Testimony</div>
          <h1 class="title">Happy customers</h1>
        </div>

        <div class="customer__card">

          <div class="customer__img">
            <img src="assets/images/main/customers/1.png" width="206" height="210" alt="Wade Warren">
          </div>

          <div class="customer__info">
            <p class="customer__text">Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit iaculis in arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.</p>
            <div class="customer__name">Wade Warren</div>
            <div class="customer__job">Sommelier</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>