<footer>
  <div class="footer__bg">
    <div class="newsletter">
      <div class="wrapper">
        <div class="newsletter__block">
          <div class="newsletter__title">
            <div class="subtitle newsletter__subtitle">Newsletter</div>
            <h1 class="title title__letter">Subscribe to Our Newsletter</h1>
            <p class="newsletter__description">And never miss latest Updates!</p>
          </div>
          <div class="newsletter__body">
            <input class="newsletter__mail" type="email" placeholder="Email Address" required>
            <button class="button newsletter__btn" type="submit">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="footer__page">
        <div class="contact">
          <div class="contact__title">Contact Us</div>
          <p class="contact__adress">9 W 53rd St, New York, NY 10019, USA</p>
          <p class="contact__adress">+1 212-344-1230<br>+1 212-555-1230</p>
        </div>
        <div class="project">
          <div class="project__name">Gerícht</div>
          <div class="project__description">"The best way to find yourself is to lose yourself in the service of others.”</div>
          <div class="poject__social">
            <a href="#" class="project__link"><img width="24p" height="24" src="assets/images/icons/facebook.svg" alt="facebook"></a> 
            <a href="#" class="project__link"><img width="24p" height="24" src="assets/images/icons/twitter.svg" alt="twitter"></a> 
            <a href="#" class="project__link"><img width="24p" height="24" src="assets/images/icons/instagram.svg" alt="instagram"></a> 
          </div>
          <p class="project__copyright">2021 Gerícht. All Rights reserved.</p>
        </div>
        <div class="working">
          <div class="working__name">Working Hours</div>
          <p class="working__hourse">Monday-Friday:<br>08:00 am -12:00 am</p>
          <p class="working__hourse">Saturday-Sunday:<br>07:00am -11:00 pm</p>
        </div>
      </div>
      <div class="footer__copyright">
        2021 Gerícht. All Rights reserved.
      </div>
    </div>
  </div>
</footer>