<section class="component-gallery">
  <div class="gallery">
    <div class="gallery__wrapper">
      <div class="gallety__content">
        <div class="gallery__title">
          <div class="subtitle gallery__subtitle">Instagram</div>
          <h1 class="title">Photo Gallery</h1>
        </div>
        <div class="gallery__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis elit elit scelerisque egestas mu.</div>
        <a href="#" class="button gallery__link">View More</a>
      </div>
      <div class="gallety__pictures">
        <a href="#"><img src="assets/images/main/gallery/1.png" width="301" height="447" alt="pic1"></a>
        <a href="#"><img src="assets/images/main/gallery/2.png" width="301" height="447" alt="pic2"></a>
        <a href="#"><img src="assets/images/main/gallery/3.png" width="301" height="447" alt="pic3"></a>
        <a href="#"><img src="assets/images/main/gallery/4.png" width="301" height="447" alt="pic4"></a>
        <a href="#"><img src="assets/images/main/gallery/1.png" width="301" height="447" alt="pic1"></a>
        <a href="#"><img src="assets/images/main/gallery/2.png" width="301" height="447" alt="pic2"></a>
        <a href="#"><img src="assets/images/main/gallery/3.png" width="301" height="447" alt="pic3"></a>
        <a href="#"><img src="assets/images/main/gallery/4.png" width="301" height="447" alt="pic4"></a>
      </div>


    </div>



  </div>
</section>