<section class="component-menu">
  <div class="wrapper wrapper-pad">
    <div class="menu">
      <div class="menu__logo"><a class="menu__main-logo" href="index.html">Gerícht</a></div>
      <ul class="menu__list">
        <li class="menu__item"><a href="#" class="menu__link">Home</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Pages</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Contact Us</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Blog</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Landing</a></li>
      </ul>

      <div class="menu__register">
        <a href="#" class="menu__login">Log in / registration</a>
        <a href="#" class="menu__book">book table</a>
      </div>

      <div class="menu__btn-wrapper">
        <div class="menu-btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
        
      <div class="phone__menu">
        <nav class="phone__menu-nav">
          <ul class="phone__menu-items">
            <li class="phone__menu-item"><a class="phone__menu-link" href="#">Home</a></li>
            <li class="phone__menu-item"><a class="phone__menu-link" href="#">Pages</a></li>
            <li class="phone__menu-item"><a class="phone__menu-link" href="#">Contact U</a></li>
            <li class="phone__menu-item"><a class="phone__menu-link" href="#">Blog</a></li>
            <li class="phone__menu-item"><a class="phone__menu-link" href="#">Landing</a></li>
          </ul>
        </nav>
      </div>
    </div>

  </div>
</section>
<section>
  <div class="scroll-totop">
    <button onclick="goTop()" id="toTop" title="Go to top">Top</button>
  </div>
</section>