<section class="component-menu">
  <div class="wrapper">
    <div class="menu">
      <div class="menu__logo"><a class="menu__main-logo" href="index.html">Gerícht</a></div>
      <ul class="menu__list">
        <li class="menu__item"><a href="#" class="menu__link">Home</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Pages</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Contact Us</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Blog</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Landing</a></li>
      </ul>
      <div class="menu__register">
        <a href="#" class="menu__login">Log in / registration</a>
        <a href="#" class="menu__book">book table</a>
      </div>
    </div>
  </div>
</section>