<section class="component-reservations">
  <div class="reservations">
    <div class="wrapper">
      <div class="reservations__container">
        <form class="reservations__form" action="">
          <div class="subtitle reservations__subtitle">Reservations</div>
          <h1 class="title">Book A Table</h1>
          <form class="reservations__select">

            <div class="reservations__person">
              <div class="select" data-state="">
                <div class="select__title" data-default="1 person">1 person</div>
                <div class="select__content">
                  <input id="s0" class="select__input" type="radio" name="person" checked />
                  <label for="s0" class="select__label">1 person</label>
  
                  <input id="s1" class="select__input" type="radio" name="person" />
                  <label for="s1" class="select__label">2 person</label>
  
                  <input id="s2" class="select__input" type="radio" name="person" />
                  <label for="s2" class="select__label">4 person</label>
  
                  <input id="s3" class="select__input" type="radio" name="person" />
                  <label for="s3" class="select__label">6 person</label>
  
                  <input id="s4" class="select__input" type="radio" name="person" />
                  <label for="s4" class="select__label">8 person</label>
                </div>
              </div>
            </div>

            <div class="reservations__data">
              <div class="select__data" data-calender="">
                <div class="select__data--title" data-default="data">12/05/2023</div>
                <div class="select__content">
                  <input id="d0" class="select__input" type="radio" name="data" checked />
                  <label for="d0" class="select__label--data">12/05/2023</label>
  
                  <input id="d1" class="select__input" type="radio" name="data" />
                  <label for="d1" class="select__label--data">13/05/2023</label>
  
                  <input id="d2" class="select__input" type="radio" name="data" />
                  <label for="d2" class="select__label--data">14/05/2023</label>
  
                  <input id="d3" class="select__input" type="radio" name="data" />
                  <label for="d3" class="select__label--data">15/05/2023</label>
  
                  <input id="d4" class="select__input" type="radio" name="data" />
                  <label for="d4" class="select__label--data">16/05/2023</label>
                </div>
              </div>
            </div>

          <button class="button reservations_button" type="submit">Book Now</button>
        </form>
      </div> 
    </div>
  </div>
</section>