<section class="component-slider">
  <div class="splide" aria-label="Splide Basic HTML Example">

    <div class="splide__arrows">
      <button class="splide__arrow splide__arrow--prev">
        
      </button>
      <button class="splide__arrow splide__arrow--next">
        
      </button>
    </div>

    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide" role="presentation">
          <div class="slide__box">
            <div class="slide__content">
              <span class="subtitle">Chase the new Flavour</span>
              <div class="slide__title">The Key to Fine dining</div>
              <p class="description slide__description">Sit tellus lobortis sed senectus vivamus molestie. Condimentum volutpat morbi facilisis quam scelerisque sapien. Et, penatibus aliquam amet tellus </p>
              <a class="button slide__button" href="#" >Explore Menu</a>
            </div>
            <picture>
              <div class="slide__img">
                <img src="assets/images/slider/s1.jpg" width="619" height="688" alt="egg dish">
              </div>
            </picture>
          </div>
          <button
          class="splide__pagination__page is-active"
          type="button"
          role="tab"
          aria-controls="splide01-slide01"
          aria-label="Go to slide 1"
          aria-selected="true">01
          </button>
        </li>

        <li class="splide__slide">
          <div class="slide__box">
            <div class="slide__content">
              <span class="subtitle">Chase the new Flavour</span>
              <div class="slide__title">The Key to Fine dining</div>
              <p class="description slide__description">Sit tellus lobortis sed senectus vivamus molestie. Condimentum volutpat morbi facilisis quam scelerisque sapien. Et, penatibus aliquam amet tellus </p>
              <a class="slide__button" href="#" >Explore Menu</a>
            </div>
            <picture>
              <div class="slide__img">
                <img src="assets/images/slider/s1.jpg" width="619" height="688" alt="egg dish">
              </div>
            </picture>
          </div>
          <button
          class="splide__pagination__page"
          type="button"
          data-type="01"
          role="tab"
          aria-controls="splide01-slide02"
          aria-label="Go to slide 2"
          tabindex="-1">
          </button>
        </li>
        <li class="splide__slide">
          <div class="slide__box">
            <div class="slide__content">
              <span class="subtitle">Chase the new Flavour</span>
              <div class="slide__title">The Key to Fine dining</div>
              <p class="description slide__description">Sit tellus lobortis sed senectus vivamus molestie. Condimentum volutpat morbi facilisis quam scelerisque sapien. Et, penatibus aliquam amet tellus </p>
              <a class="button slide__button" href="#" >Explore Menu</a>
            </div>
            <picture>
              <div class="slide__img">
                <img src="assets/images/slider/s1.jpg" width="619" height="688" alt="egg dish">
              </div>
            </picture>
            </div>
            <button
            class="splide__pagination__page"
            value="01"
            type="button"
            role="tab"
            aria-controls="splide02-slide03"
            aria-label="Go to slide 3"
            tabindex="-1">
            </button>
        </li>
        <li class="splide__slide">
          <div class="slide__box">
            <div class="slide__content">
              <span class="subtitle">Chase the new Flavour</span>
              <div class="slide__title">The Key to Fine dining</div>
              <p class="description slide__description">Sit tellus lobortis sed senectus vivamus molestie. Condimentum volutpat morbi facilisis quam scelerisque sapien. Et, penatibus aliquam amet tellus </p>
              <a class="button slide__button" href="#" >Explore Menu</a>
            </div>
            <picture>
              <div class="slide__img">
                <img src="assets/images/slider/s1.jpg" width="619" height="688" alt="egg dish">
              </div>
            </picture>
          </div>
          <button
          class="splide__pagination__page"
          type="button"
          role="tab"
          aria-controls="splide03-slide04"
          aria-label="Go to slide 4"
          tabindex="-1">
          </button>
        </li>
      </ul>


    </div>
  </div>
</section>