<section class="component-special">
  <div class="special">
    <div class="wrapper">
      <div class="special__title">
        <div class="subtitle special__subtitle">Menu that fits you palatte</div>
        <h1 class="title">Today’s Special</h1>
      </div>

      <div class="special__container">
        <div class="special__side">
          <div class="side__title">Wine & Beer</div>
          <ul class="side__list">
            <li class="side__list-title">
              <div class="list-title__header">
                <span class="list-title__name">Chapel Hill Shiraz</span>
                <span class="list-title__line"></span>
                <span class="side__prise">$56</span>
              </div>
              <div class="list__subtitle">AU | Bottle</div>
            </li>
            <li class="side__list-title">
              <div class="list-title__header">
                <span class="list-title__name">Catena Malbec</span>
                <span class="list-title__line"></span>
                <span class="side__prise">$59</span>
              </div>
              <div class="list__subtitle">AU | Bottle</div>
            </li>
            <li class="side__list-title">
              <div class="list-title__header">
                <span class="list-title__name">La Vieille Rosé</span>
                <span class="list-title__line"></span>
                <span class="side__prise">$44</span>
              </div>
              <div class="list__subtitle">FR | 750 ml</div>
            </li>
            <li class="side__list-title">
              <div class="list-title__header">
                <span class="list-title__name">Rhino Pale Ale</span>
                <span class="list-title__line"></span>
                <span class="side__prise">$31</span>
              </div>
              <div class="list__subtitle">CA | 750 ml</div>
            </li>
            <li class="side__list-title">
              <div class="list-title__header">
                <span class="list-title__name">Irish Guinness</span>
                <span class="list-title__line"></span>
                <span class="side__prise">$26</span>
              </div>
              <div class="list__subtitle">IE | 750 ml</div>
            </li>
          </ul>
        </div>
        <div class="special__img">
          <img src="assets/images/main/special.jpg" width="444" height="659" alt="Today’s Special">
        </div>
        <div class="special__side">
          <div class="side__title">Cocktails</div>
          <ul class="side__list">
            <li class="side__list-title">
              <div class="list-title__header">
                <span class="list-title__name">Aperol Spritz</span>
                <span class="list-title__line"></span>
                <span class="side__prise">$20</span>
              </div>
              <div class="list__subtitle">Aperol | Villa Marchesi prosecco | soda | 30ml</div>
            </li>
            <li class="side__list-title">
              <div class="list-title__header">
                <span class="list-title__name">Dark 'N' Stormy</span>
                <span class="list-title__line"></span>
                <span class="side__prise">$16</span>
              </div>
              <div class="list__subtitle">Dark rum | Ginger beer | Slice of lime.</div>
            </li>
            <li class="side__list-title">
              <div class="list-title__header">
                <span class="list-title__name">Daiquiri</span>
                <span class="list-title__line"></span>
                <span class="side__prise">$10</span>
              </div>
              <div class="list__subtitle">Rum | Citrus juice | Sugar</div>
            </li>
            <li class="side__list-title">
              <div class="list-title__header">
                <span class="list-title__name">Old Fashioned</span>
                <span class="list-title__line"></span>
                <span class="side__prise">$31</span>
              </div>
              <div class="list__subtitle">Bourbon | Brown sugar | Angostura Bitters</div>
            </li>
            <li class="side__list-title">
              <div class="list-title__header">
                <span class="list-title__name">Negroni</span>
                <span class="list-title__line"></span>
                <span class="side__prise">$26</span>
              </div>
              <div class="list__subtitle">Gin | Sweet Vermouth | Campari | Orange garnish</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>